.profile__info {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 880px) {
  .profile__info {
    flex-direction: column;
    justify-content: center;
  }
}
