.overlay__save-button {
  margin: 48px 0 0;
  width: 100%;
  padding: 14px 0 18px;
  border-radius: 2px;
  background-color: #000;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border: none;
}
